.card{
    background: #44b3d4;
    width: 250px;
    height: 340px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 15px;
    border-radius: 8px;
    
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgb(11 91 215);
    transition: all 0.2s linear;
}
.containerCard{
   margin-top: 50px;
   display: grid;
   grid-gap: 55px;
   grid-auto-flow: row;
   justify-items: center;
   grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
   margin-left: 80px;
    margin-right: 60px;
   align-items: center;
}
.descripcion{
    text-align: center;
    margin: 5px;
}
.image{
    margin-top: 5px;
}
