.error404{
    background-image: url(../assets//notfound.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
}
.h1error{
    font-size: 50px;
    text-align: center;
    color: red;
}
.p-error{
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: 700;
}

.container-boton{
    text-align: center;
    margin: 10px;
}

.linkvolver{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.btn-volver{
    border-radius: 8px;
}


