/* elementos dentro del nav con sus estilos*/
.header {
  background-image: url(../assets/fondo-3.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position:center ;
  padding: 1px;
  height: '100vh';
}

h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 8px;
  text-decoration: uppercase;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-align: center;
  position: relative;
}

/*menú lateral*/

.menú {
  margin-top: 140px;
  position: fixed;
}
input[type="text"] {
  flex-grow: 1;
  padding: 5px;
}

.general-menu{
  position: fixed;
  padding: 3px 10px;
  background-color: #c7ccd5;
  
  margin-left: 2px;
}
.buscador {
  display: flex;
  justify-content: center;
  margin-top: 68px;
  height: 40px;
  padding: 0px;
  flex-wrap: wrap;
  align-items: center;

}
.button {
  margin-top: 40px;
  font-size: 30px;
}
.search-button {
  padding: 6px 10px;
  background-color: #039bfb;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}
@media (max-width: 600px) {
  .search-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .search-button {
    width: 100%;
  }
}

.search-container {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  margin-left: -180px;
  transition: 1s;
  justify-self: start;
}

.dropdown-content {
  margin-top: -4px;
  margin-left: 3px;
  display: inline-block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-extend {
  transition: 1s;
  position: relative;
     margin-left: -13px;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/*seccion con ventas, nosotros y contactos*/
