.footer-container {
  padding: 20px;
  height: 150px;
  background-color: #111725;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.parrafo{
  font-size: 20px;
  color:wheat
}

.contenedor-1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.contenedor-2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.ubicacion{
  margin-right: 5px;
  margin-top: 7px;
  color: wheat;
}
.p-ubicacion{
  color: wheat;
}
