.magnetoresistor-1{
    height: 180px;
    width: 195px;
}
.magnetoresistor-2{
    height: 180px;
    width: 195px;
}
.magnetoresistor-3{
    height: 180px;
    width: 195px;
}

.termistore-1{
    height: 180px;
    width: 195px;
}
.termistore-2{
    height: 180px;
    width: 195px;
}
.termistore-3{
    height: 180px;
    width: 195px;
}
.termistore-4{
    height: 180px;
    width: 195px;
}
.termistore-5{
    height: 180px;
    width: 195px;
}
.termistore-6{
    height: 180px;
    width: 195px;
}

.termistore-7{
    height: 180px;
    width: 195px;
}
.termistore-8{
    height: 180px;
    width: 195px;
}
.termistore-9{
    height: 180px;
    width: 195px;
}
.fotoresistor-10{
    height: 180px;
    width: 195px;
}