.placa-1{
    height: 180px;
    width: 195px;
}
.placa-1:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-2{
    height: 180px;
    width: 195px;
}
.placa-2:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-3{
    height: 180px;
    width: 195px;
}
.placa-3:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-4{
    height: 180px;
    width: 195px;
}
.placa-4:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-5{
    height: 180px;
    width: 195px;
}
.placa-5:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-6{
    height: 180px;
    width: 195px;
}
.placa-6:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-7{
    height: 180px;
    width: 195px;
}
.placa-7:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-8{
    height: 180px;
    width: 195px;
}
.placa-8:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.placa-9{
    height: 180px;
    width: 195px;
}
.placa-9:hover{
    box-shadow: 0 2px 5px #4169E1;
}