.duracell-2a{
    height: 180px;
    width: 195px;
}
.duracell-3a{
    height: 180px;
    width: 195px;
}

.duracell-recargable-2a{
    height: 180px;
    width: 195px;
}

.duracell-ultra{
    height: 180px;
    width: 195px;
}

.energizer-2a{ 
    height: 180px;
    width: 195px;
}
.energizer-3a{
    height: 180px;
    width: 195px;
}
.energizer-recargable-2a{
    height: 180px;
    width: 195px;
}
.energizer-recargable-3a{
    height: 180px;
    width: 195px;
}

.maxell-2a{
    height: 180px;
    width: 195px;
}
.maxell-3a{
    height: 180px;
    width: 195px;
}

.panasonic-evolta-2a{
    height: 180px;
    width: 195px;
}
.panasonic-evolta-3a{
    height: 180px;
    width: 195px;
}