.bobina-1{
    height: 180px;
    width: 195px;
}
.bobina-2{
    height: 180px;
    width: 195px;
}
.bobina-3{
    height: 180px;
    width: 195px;
}
.bobina-4{
    height: 180px;
    width: 195px;
}
.bobina-5{
    height: 180px;
    width: 195px;
}
.bobina-6{
    height: 180px;
    width: 195px;
}
.bobina-7{
    height: 180px;
    width: 195px;
}