.capacitor-1{
    height: 180px;
    width: 195px;
}
.capacitor-2{
    height: 180px;
    width: 195px;
}
.capacitor-3{
    height: 180px;
    width: 195px;
}
.capacitor-4{
    height: 180px;
    width: 195px;
}
.capacitor-5{
    height: 180px;
    width: 195px;
}
.capacitor-6{
    height: 180px;
    width: 195px;
}
.capacitor-7{
    height: 180px;
    width: 195px;
}
.capacitor-8{
    height: 180px;
    width: 195px;
}
.capacitor-9{
    height: 180px;
    width: 195px;
}
.capacitor-10{
    height: 180px;
    width: 195px;
}
    
.capacitor-11{
    height: 180px;
    width: 195px;
}
.capacitor-12{
    height: 180px;
    width: 195px;
}
