.fusible-1{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-2{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-3{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-4{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-5{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-6{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-7{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-8{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-9{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
