.cable-marron{
    height: 200px;
    width: 200px;
    margin-top: 5px;
}
.cable-celeste{
    height: 200px;
    width: 200px;
    margin-top: 5px;
}
.cable-rojo{
    height: 200px;
    width: 200px;
    margin-top: 5px;
}
.cable-negro{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}

.cable-tierra{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.cable-utp{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}