.capacitor-1{
    height: 180px;
    width: 195px;
}
.capacitor-1:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-2{
    height: 180px;
    width: 195px;
}
.capacitor-2:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-3{
    height: 180px;
    width: 195px;
}
.capacitor-3:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-4{
    height: 180px;
    width: 195px;
}
.capacitor-4:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-5{
    height: 180px;
    width: 195px;
}
.capacitor-5:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-6{
    height: 180px;
    width: 195px;
}
.capacitor-6:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-7{
    height: 180px;
    width: 195px;
}
.capacitor-7:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-8{
    height: 180px;
    width: 195px;
}
.capacitor-8:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-9{
    height: 180px;
    width: 195px;
}
.capacitor-9:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-10{
    height: 180px;
    width: 195px;
}
.capacitor-10:hover{
    box-shadow: 0 2px 5px #4169E1;
}
    
.capacitor-11{
    height: 180px;
    width: 195px;
}
.capacitor-11:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.capacitor-12{
    height: 180px;
    width: 195px;
}
.capacitor-12:hover{
    box-shadow: 0 2px 5px #4169E1;
}
