.led-amarillo{
    height: 180px;
    width: 195px;
}
.led-blanco{
    height: 180px;
    width: 195px;
}
.led-naranja{
    height: 180px;
    width: 195px;
}

.led-azul{
    height: 180px;
    width: 195px;
}

.led-rosa{
    height: 180px;
    width: 195px;
}

.led-verde{
    height: 180px;
    width: 195px;
}

.led-rojo{
    height: 180px;
    width: 195px;
}
