.placa-1{
    height: 180px;
    width: 195px;
}
.placa-2{
    height: 180px;
    width: 195px;
}
.placa-3{
    height: 180px;
    width: 195px;
}
.placa-4{
    height: 180px;
    width: 195px;
}
.placa-5{
    height: 180px;
    width: 195px;
}
.placa-6{
    height: 180px;
    width: 195px;
}
.placa-7{
    height: 180px;
    width: 195px;
}
.placa-8{
    height: 180px;
    width: 195px;
}
.placa-9{
    height: 180px;
    width: 195px;
}