.bobina-1{
    height: 180px;
    width: 195px;
}
.bobina-1:hover{
    box-shadow: 0 2px 5px #4169E1;
}

.bobina-2{
    height: 180px;
    width: 195px;
}
.bobina-2:hover{
    box-shadow: 0 2px 5px #4169E1;
}

.bobina-3{
    height: 180px;
    width: 195px;
}
.bobina-3:hover{
    box-shadow: 0 2px 5px #4169E1;
}

.bobina-4{
    height: 180px;
    width: 195px;
}
.bobina-4:hover{
    box-shadow: 0 2px 5px #4169E1;
}

.bobina-5{
    height: 180px;
    width: 195px;
}
.bobina-5:hover{
    box-shadow: 0 2px 5px #4169E1;
}

.bobina-6{
    height: 180px;
    width: 195px;
}
.bobina-6:hover{
    box-shadow: 0 2px 5px #4169E1;
}

.bobina-7{
    height: 180px;
    width: 195px;
}
.bobina-7:hover{
    box-shadow: 0 2px 5px #4169E1;
}