.fusible-1{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-1:hover{
    box-shadow: 0 2px 5px #4169E1;

}
.fusible-2{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-2:hover{
    box-shadow: 0 2px 5px #4169E1;

}
.fusible-3{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-3:hover{
    box-shadow: 0 2px 5px #4169E1;
}


.fusible-4{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-4:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.fusible-5{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-5:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.fusible-6{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-6:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.fusible-7{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-7:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.fusible-8{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-8:hover{
    box-shadow: 0 2px 5px #4169E1;
}
.fusible-9{
    height: 180px;
    width: 195px;
    margin-top: 5px;
}
.fusible-9:hover{
    box-shadow: 0 2px 5px #4169E1;
}
